

.header{

    height: 11vh;
    background-color: #0000;
   
}

.navbar-expand-sm {
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar-collapse{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.link-nav{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    transition: .5s ease all;
    padding: 4px;
}

.link-nav:hover{
    color: rgba(255, 0, 0, 0.856);
}

.navbar-brand img {
    width: 300px;
    margin-left: 20px;
}


@media (max-width: 900px) {
    .navbar-brand img {
        width: 200px;
    }
  }











