


.navbar-expand-sm{
    height: 11vh;
}


.navbar-collapse{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}